@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Gothic&family=Montserrat:wght@800&family=Poppins:wght@400;600&display=swap'); 


*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(33, 33, 51);
}

.ajaxbutton{
    font-family: poppins;
    font-weight: 1000;
    width:200px;
    height:25px;
    border-radius: 5px;
    background-color: greenyellow;
    margin-left:550px;
    margin-bottom:25px;
    border: none;
    

}
.ajaxbutton:hover{
    cursor:pointer;
    border-radius: 15px;
    background-color: green;
}

.heading{
    color:white;
    margin-bottom:25px;
    text-align: center;
}
