@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Gothic&family=Montserrat:wght@800&family=Poppins:wght@400;600&display=swap'); 


*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(33, 33, 51);
}

.trainingattributes{
    background-color: white;
    min-width:100px;
    min-height:100px;
    margin-left:250px;
    margin-top:25px;
    margin-right:250px;
    margin-bottom:25px;
    border-radius: 5px;
    font-family: poppins;
    text-align: center;
}

.attributes{
    display:flex;
    margin:10px;
    justify-content: center;
}

.attributename{
    color:purple;
    text-align:left;
    padding:10px;
    font-size: larger;
    cursor: pointer;
}

.targetattribute{
    background-color:black;
    color:white;
    min-width: 100px;
    min-height:50px;
    margin-left:450px;
    margin-right:450px;
    margin-bottom:105px;
    text-align: center;
    padding:1rem;
    font-family: poppins;
    border-radius: 5px;
}

.targetbutton{
    color:purple;
    padding:10px;
    margin-top: 2px;
    cursor: pointer;
    font-size: larger;

}


.heading{
    color:white;
    margin-bottom:25px;
    text-align: center;
}

/* .catimage,.numimage{
    min-width:500px;
    height:1000px;
    margin-left:250px;
    margin-right:250px;
    margin-top:25px;
    margin-bottom:25px;
    border-radius: 5px;

}

.edaheading{
    text-align: center;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.catgraph{
    display:flex;
    justify-content: center; 
}

*/
