@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Gothic&family=Montserrat:wght@800&family=Poppins:wght@400;600&display=swap'); 

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: #243763;
}