<html>
    <head>
        <title>My CSV Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/appstyle.css') }}">
    </body>
    </head>
    <body>

        <h3 class="heading">This is the data in your dataset</h3>
        <button id="vis" class="visualise">Visualize</button>
        <script>
            document.getElementById("vis").addEventListener("click", function() {
                window.location.href = "/click";
            });
        </script>
        <table class="dataset">
            <thead>
              <tr>
                  {% for h in header %}
                        <th>{{ h }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
