
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/FeatureEngineering.css') }}">
    </head>
    <body>
      
                <h1 class="heading">Steps of preprocessing</h1>


                <div class="trainingattributes">
                  
                  {% if dataset_cols %}
                      <h4>You selected these cols for training</h4>
                      <div class="attributes">
                    {% for dataset_col in dataset_cols %}
                      <button class="attributename">{{ dataset_col }}</button>
                    {% endfor %}
                  {% else %}
                    <h5>No data available</h5>
                  {% endif %}
                </div>
              </div>

                <div class="targetattribute">
                  <h4>Target Attribute</h4>
                  <button class="targetbutton">{{targetattribute}}</button>
                </div>

              





                <script src={{url_for('static',filename='js/vizscript.js')}}></script>
                <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
                
        
       
    </body>
</html>