<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h2 class="heading">Exploratory Data analysis is being performed</h2>
        <div id="eda" class="eda">
            <h5>Total cols:<span></span></h5>
            <h5>Total Rows:<span></span></h5>
            <h5>Index:<span></span></h5>
            <h5>Categorical attributes<span></span></h5>
            <h5>Numerical attributes<span></span></h5>
            <h5>Null values<span></span></h5>
            <h5>ldsjfljsj<span></span></h5>
        </div>
        
        
    </body>
</html>