<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vizeda.css') }}">
    </head>
    <body>
        <h5 class="heading">Exploratory Data analysis is being performed</h5>
        <div id="eda" class="eda">
            <h5>Total cols:<span></span></h5><hr>
            <h5>Total Rows:<span></span></h5><Hr>
            <h5>Index:<span></span></h5><hr>
            <h5>Categorical attributes:<span></span></h5><hr>
            <h5>Numerical attributes:<span></span></h5><hr>
            <h5>Null values:<span></span></h5><hr>
            <h5>ldsjfljsj:<span></span></h5><hr>
        </div>
        
        
    </body>
</html>