<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vizeda.css') }}">
    </head>
    <body>
        <h5 class="heading">Exploratory Data analysis</h5>
        <div class="totaleda" id="totaleda">
        <div id="eda" class="eda">
            <h5>Total cols:<span>    {{ var1 }}</span></h5>
            <h5>Total Rows:<span>   {{var2}}</span></h5>
            <h5>Categorical attributes:<span>  {{var3}}</span></h5>
            <h5>Numerical attributes:<span>  {{var4}}</span></h5>
            <h5>Null values:<span>  {{var5}}</span></h5>
        </div>
        <div class="discat">
            {% for cat_col in var6 %}
            <h4 class="showcatcols">{{cat_col}}</h4>
            {% endfor %}
        </div>
        <div class="disnum">
            {% for num_col in var7 %}
            <h4 class="shownumcols">{{num_col}}</h4>
            {% endfor %}
        </div>

    </div>

        <div class="columns" id="columns">
            <h4>Columns in the dataset</h4>
            {% for col in columns %}
            <button class="colbutton" id="colbutton" onclick="handleButtonClick(event)" data-col="{{ col }}">{{ col }}</button>
            {% endfor %}

        </div>

        
            <h4 class="targetinput">Enter the target variables</h4>
            <div>
            <input type="text" id="targettext" class="targettext">
            <button class="targetsubmit" id="targetsubmit">submit</button>
            

        <div class="numericaldatagraph">
            <h4 class="numgraphtext">Numerical count Estimation</h4>
            <img class="numimage" src="data:image/png;base64,{{ image1 }}">
        </div>
        <div class="categoricaldatagraph">
            <h4 class="categoricaltext">Categorical count Estimation</h4>
            <img class="numimage" src="data:image/png;base64,{{ image2 }}">

        </div>
      <script src={{url_for('static',filename='js/vizscript.js')}}></script>
      

        




        
    </body>
</html>